body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f6f9;
}

.container {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

h1 {
    color: #333;
}

h2 {
    color: #333;
}

.card {
    display: inline-block;
    background-color: #fff;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
    width: 200px;
}

.card h2 {
    margin-top: 0;
    color: #555;
}

.card p {
    font-size: 24px;
    color: #111;
}